<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="File" fileName="chess.out" append="false" immediateFlush="false">
			<PatternLayout>
				<Pattern>%d %p %C{1.} %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
	<!-- 	<Logger name="org.rjo.chess.Chessboard" level="trace"/> -->
		<Root level="info">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>