<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <ThresholdFilter level="info"/>
        </Console>
		<File name="File" fileName="c:/Users/rich/chess/chess.out" append="false" immediateFlush="false">
			<PatternLayout>
				<Pattern>%d %p %C{1.} %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
	<!-- 	<Logger name="org.rjo.chess.Chessboard" level="trace"/> -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
	</Loggers>
</Configuration>